@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

.contact__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.breadcrumbs {
  display: flex;
  font-family: 'Concert One', sans-serif;
  font-size: 20px;
  color: #ff6b6b;
}

.breadcrumbs__back {
  margin-right: 0.5rem;
  cursor: pointer;
}

.contact__inputs {
  font-family: 'Concert One', sans-serif;
  background-color: #f9eded; 
  box-shadow: 5px 10px 18px #f0c1b6; 
  border-radius: 30px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
  padding: 3rem;
  margin-top: 5rem;
}

.contact__input {
  width: 100%;
  height: 40px;
  padding: 12px;
  border: 1px solid #ff6b6b; 
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  font-size: 16px;
  color: #6b6b6b; 
}

.contact__textarea {
  width: 100%;
  font-size: 16px;
  height: 150px;
  padding: 12px;
  border: 1px solid #ff6b6b;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  color: #6b6b6b; 
}

.contact__submit {
  width: 100px;
  background-color: #ff6b6b;
  color: white;
  font-size: 20px;
  padding: 12px;
  border: 1px solid #ff6b6b;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.contact__submit:hover {
  background-color: #f9eded;
  border: 1px solid #ff6b6b; 
  color: #ff6b6b; 
}

.message__submit,
.message__fill {
  font-family: 'Concert One', sans-serif;
  font-size: 18px;
  margin-bottom: -2.4rem;
  color: #6b6b6b;
  text-align: center;
}

.message__fill {
  text-decoration: underline;
  cursor: pointer;
}

.message__fill:hover {
  color: #ff6b6b; 
}

.message-phone {
  font-family: 'Concert One', sans-serif;
  font-size: 16px;
  color: #ff6b6b; 
}

/* Dropdown container */
.dropdown-container {
  position: relative;
  width: 100%;
}

/* Dropdown button style */
.contact__select,
.dropdown-button {
  width: 100%;
  height: 40px;
  padding: 12px;
  border: 1px solid #ff6b6b; 
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  font-size: 16px;
  color: #efacac; 
  cursor: pointer;
  background-color: #fff; 
}

/* Dropdown list container style */
.dropdown-list,
.contact__select-list {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: #fff; 
  border: 1px solid #ff6b6b; 
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  overflow-y: auto; 
}

/* Dropdown list item style */
.dropdown-item,
.contact__select-item {
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  color: #6b6b6b; 
  transition: background-color 0.3s ease-in-out;
}

/* Hover effect on dropdown list item */
.dropdown-item:hover,
.contact__select-item:hover {
  background-color: #f9eded; 
}

/* Styling for selected option */
.selected-option {
  color: #ff6b6b; 
}

/* Styling for the dropdown arrow */
.dropdown-arrow,
.contact__select-arrow {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #ff6b6b; 
}
